.form-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	background-color: rgba(59, 59, 59, 0.13);
	border-radius: 5px;
	width: 600px;
	padding: 20px;
	margin: 0px auto;

	&__wrapper {
		display: flex;
		justify-content: space-between;

		&__block {
			display: flex;
			gap: 5px;
			flex-direction: column;

			&__input {
				padding: 10px;
				height: 10px;
				width: 230px;
				border: none;
				border-radius: 5px;
				&:focus {
					outline: none;
				}
			}
		}
	}

	&__label {
		margin-top: 10px;
	}

	&__select {		
		padding: 10px;
		height: 35px;
		border: none;
		border-radius: 5px;
		&:focus {
			outline: none;
		}
	}
}