.container {
	width: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px 40px;
	margin: 0px auto;
	margin-top: 30px;
	border: 1px solid rgba(38, 38, 38, 0.08);
	border-radius: 20px;
	box-shadow: 0 1px 2px rgba(38, 38, 38, 0.04), 0 2px 4px rgba(38, 38, 38, 0.16);
	box-sizing: border-box;

	&__header {
		display: flex;
		color: #232323;
		margin: 0 0 32px;
		font: 32px / 42px Helvetica, sans-serif;
	}

	&__body {
		display: flex;
		gap: 50px;

		.card__inputs {
			display: flex;
			flex-direction: column;
			gap: 30px;
			max-width: 50%;
			width: 100%;
		}

		.card__inputs-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 40px;
			width: 100%;

			.card__inputs-wrap__label {
				top: 25%;
				left: 10px;
				transform: translateY(0);
				font-size: 12px;
				color: #78909c;
			}
		}

		.card__result {
			display: flex;
			flex-direction: column;
			max-width: 40%;
			width: 100%;
		}
	}

	&__error {
		&__income {
			margin-top: 8px;
			background-color: #e7eef3;
			border: none;
			border-radius: 8px;
			border: 1px solid #8f1414;
			color: #262626;
			font-family: 'Sora', sans-serif;
			font-size: 15px;
			font-weight: 500;
			padding: 30px 0px 15px 15px;
			&:focus {
				outline-color: #8f1414;
			}
		}
		&__costs {
			margin-top: 8px;
			background-color: #e7eef3;
			border: none;
			border-radius: 8px;
			border: 1px solid #8f1414;
			color: #262626;
			font-family: 'Sora', sans-serif;
			font-size: 15px;
			font-weight: 500;
			padding: 30px 0px 15px 15px;
			&:focus {
				outline-color: #8f1414;
			}
		}
	}

	&__inputs-item {
		margin-top: 8px;
		background-color: #e7eef3;
		border: none;
		border-radius: 8px;
		color: #262626;
		font-family: 'Sora', sans-serif;
		font-size: 15px;
		font-weight: 500;
		padding: 30px 0px 15px 15px;

		&:last-child {
			-webkit-appearance: none;
		}
		&:focus {
			outline: none;
		}
	}
}

.card__inputs-wrap__label {
	position: absolute;
	top: 55%;
	left: 13px;
	transform: translateY(-50%);
	padding: 0 5px;
	color: #78909c;
	font-family: 'Sora', sans-serif;
	font-size: 13px;
	font-weight: 500;
	pointer-events: none;
	transition: all 0.2s ease;
}

.card__focused {
	position: absolute;
	top: 25%;
	left: 10px;
	transform: translateY(0);
	font-size: 12px;
	color: #78909c;
	padding: 0 5px;
	font-family: 'Sora', sans-serif;
	font-weight: 500;
	pointer-events: none;
	transition: all 0.2s ease;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.card__inputs-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
}

.card__result-header {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px 0px 0px 15px;
	p,
	h3,
	span {
		margin: 0;
	}
	p {
		font-size: 20px;
	}
	h3 {
		font-size: 40px;
		line-height: 40px;
	}
	span {
		font-size: 14px;
		font-weight: 500;
	}
}

.card__result-main {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 10px 0px 0px 15px;
	p,
	h3,
	span {
		margin: 0;
	}
	&__left {
		display: flex;
		align-items: center;
		gap: 10px;
		p {
			line-height: 22px;
			color: #202020;
		}
		h3 {
			font-size: 20px;
		}
	}
	&__right {
		display: flex;
		align-items: center;
		gap: 10px;
		p {
			line-height: 22px;
			color: #202020;
		}
		h3 {
			font-size: 20px;
		}
	}
}

.card__result-button {
	display: flex;
	width: 100%;
	margin-top: auto;
	button {
		height: 50px;
		width: 100%;
		background-color: #009e36;
		border: none;
		border-radius: 8px;
		color: #fff;
		cursor: pointer;
	}
}

hr {
	width: 95%;
	background: 0 0;
	border: none;
	border-top: 1px solid #45474627;
}

.card__result-option {
	display: flex;
	gap: 10px;
}

.error-message {
	font-size: 14px;
	color: #b30000de;
	margin-left: 5px;
}

@media (max-width: 1575px) {
	h3 {
		span {
			display: none;
		}
	}
}

@media (max-width: 1255px) {
	.card {
		align-items: center;
	}
	.card__body {
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: 20px;
	}
	.card__body .card__result {
		max-width: 90%;
	}
	.card__body .card__inputs {
		max-width: 90%;
	}
	.card__result-main {
		margin-bottom: 15px;
	}
}

@media (max-width: 500px) {
	.card__result-header h3 {
		font-size: 25px;
		line-height: 40px;
	}
	h3 {
		font-size: 15px;
		line-height: 20px;
	}
	.card__result-header p {
		font-size: 15px;
	}
	p {
		font-size: 12px;
	}
	.card__header {
		font: 20px / 18px Helvetica, sans-serif;
	}
}
