@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
	font-family: "SUSE", sans-serif;
}

.container {
 display: flex;
 flex-direction: column;
 align-items: center;

 &__info {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
 }
}