.result-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px;
	width: 600px;
	border-radius: 3px;
	background-color: rgba(55, 55, 55, 0.171);
}