.form-container__button {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
	padding: 10px;
	&__wrapper {
		margin-top: 10px;
	}

	&__item {
		background-color: rgba(0, 0, 0, 0.775);
		color: white;
		border-radius: 10px;
		border: none;
		height: 30px;
		cursor: pointer;
	}
}